Language Translation using streamlit_n8n/translation.json
{
  "name": "translation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "translate-text",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -128
      ],
      "id": "1354361b-a76a-49d5-bc69-7cc2a9222277",
      "name": "Webhook",
      "webhookId": "91384f4e-705e-4bcd-b01b-e58196abab2e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Translate the following text to {{ $json.body.target_language }}.\n\nText:\n{{ $json.body.text }}\n\nReturn ONLY the translated text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -96,
        -128
      ],
      "id": "f00ffa18-fbc1-44ea-88c1-72b46ea9292a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        64
      ],
      "id": "4c18d724-f2f8-414e-af19-f4a504a964cc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tAf9Nevsu9cMVqWX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n'{ \"translated_text\": \"' + $json.output + '\" }'\n}}\n",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        -128
      ],
      "id": "3bb8d761-09be-430c-aae9-deb9a3ac82de",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b46eb0a5-d4d2-47f8-8a06-b88acd37c0cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2387b43c76b75d1affd8da6cf759ac06bd1826edb1524b833e17ef9beeff984c"
  },
  "id": "9FD3I8lDUy5yIszs",
  "tags": []
}